.leaderboard {
  background-image: url(../../assets/Leaderboardbg.png);
  background-size: 100% 100%;
  width: 95%;
  height: 177vw;
  margin: 0 auto;
  margin-top: 10vw;
  position: relative;
  .lboardtag {
    width: 40vw;
    display: flex;
    margin: 0 auto;
    position: absolute;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    top: -4vw;
    height: 12vw;
  }
  .tabs {
    position: absolute;
    top: 4vw;
    .bc-cp {
      background-image: url(../../assets/cp-bg.png);
      background-size: 100% 100%;
      width: 50vw;
      height: 7vw;
      margin: 0 auto;
      .two-btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        button {
          width: 50%;
          height: 7vw;
          background: transparent;
          border: none;
        }
        .cb_img {
            width: 26vw;
            height: 8vw;
            position: absolute;
            left: 22vw;
            top: 19vw;
        }

        .pb_img {
            width: 26vw;
            position: absolute;
            top: 19vw;
            right: 22vw;
            height: 8vw;
        }
      }
    }
    .leaderboard-data {
      max-height: 132vw;

      .top-three {
        background-image: url(../../assets/top3.png);
        background-size: 100% 100%;
        width: 98%;
        height: 20vw;
        .postion {
          color: maroon;
          font-size: 3vw;
          font-weight: 500;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          margin-left: 3vw;
          padding-top: 1vw;
        }
        .pos-details {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          .gold-frame {
            width: 12vw;
            height: 12vw;
          }
          .name-lev {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left: -5vw;
            span {
              color: gold;
              font-size: 3vw;
              font-weight: 500;
              font-style: italic;
            }
          }
          .rewards {
            color: white;
            font-size: 4vw;
            font-weight: 500;
            font-style: italic;
          }
          .star {
            width: 7vw;
            height: 7vw;
          }
          .number {
            color: gold;
            font-size: 4vw;
            font-style: italic;
            font-weight: bold;
          }
        }
      }

      .rest-of {
        background-image: url(../../assets/rest-of.png);
        background-size: 100% 100%;
        width: 95%;
        height: 10vw;
        margin: 0 auto;
        margin-top: 2vw;
        .pos-details {
          display: flex;
          justify-content: space-around;
          align-items: center;
          .lboardframe {
            width: 10vw;
            height: 10vw;
          }
          .name-lev {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left: -5vw;
            span {
              color: gold;
              font-size: 3vw;
              font-weight: 500;
              font-style: italic;
            }
          }
          .rewards {
            color: white;
            font-size: 3.5vw;
            font-weight: 500;
            font-style: italic;
          }
          .star {
            width: 7vw;
            height: 7vw;
          }
          .number {
            color: gold;
            font-size: 3vw;
            font-style: italic;
            font-weight: bold;
          }
        }
      }

    }
    .see-btn {
      background: transparent;
      border: none;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 3vw;
      img {
        width: 20vw;
      }
    }
  }
}
