.ligh-up {
    border: 2px solid gold;
    border-radius: 5vw;
    text-align: center;
    font-size: 4vw;
    font-weight: bold;
    text-align: center;
    color: gold;
    padding: 4vw;
    width: 89%;
    margin: 0 auto;
    .modak {
        padding-left: 1vw;
        padding-right: 11vw;
    img {
        width: 10vw;
        margin-top: 0vw;
        position: absolute;
    }
    }
    .bt-text {
        font-size: 5vw;
    }
}