.missed-chances {
    border: 2px solid gold;
    border-radius: 5vw;
    text-align: center;
    font-size: 4vw;
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 4vw;
    width: 89%;
    margin: 0 auto;
    margin-top: 3vw;
    background: #a75023;
}